.board  {
    background-color: antiquewhite;
}

.cell {
    border: 1px solid;
    font-size: 5rem;
    height: 150px;
    width: 150px;
    text-align: center;
}

.cell:hover {
    cursor: pointer;
    background-color: aliceblue;
} 

.cell:active {
    background-color: bisque;
}

.win-cell {
    background-color: greenyellow !important;
}